html, body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

.navbar .logo {
  color: #ecf0f1;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar .nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar .nav-links li {
  margin-left: 1.5rem;
}

.navbar .nav-links a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  padding: 0.25rem 0;
  transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
  color: #b9b9b9;
}

.navbar .nav-links a:hover::after {
  width: 100%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: large;
}

button {
    font-size: large;
    font-weight: 550;
    transition: opacity 0.3s ease;
}

button:hover {
    opacity: 0.8;
}

input, option {
    font-size: large;
}

select {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

section {
    margin: 50px;
    max-width: 80%;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-bottom: 20px; 
}

.botaoAdicionar {
    padding: 10px 15px;
    border-radius: 10px;
}

.tituloTabela {
    font-family: sans-serif;
    font-size: 3rem;
}

table, tr, th, td {
    border-collapse: collapse;
    border: solid 1px black;
    padding: 10px;
    text-align: center;
}

.botaoAtualizar, .botaoExcluir {
    margin: 5px;
    padding: 7px;
    border-radius: 10px;
}

.botaoAtualizar {
    background-color: lightskyblue;
}

.botaoExcluir {
    background-color: red;
}

.modais {
    width: 350px;
    border-radius: 30px;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.modal-inputs > input{
    padding: 7px;
    border-radius: 8px;
}

.botaoAdicionarModal, .botaoAtualizarModal {
    background-color: gold;
    padding: 10px;
    margin: 10px 70px 0px 70px;
    border-radius: 15px;
}


header {
    width: 100%;
    height: 130px;
    background-color: #032541; /* tom escuro */
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

