body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: large;
}

button {
    font-size: large;
    font-weight: 500;
}

input, option {
    font-size: large;
}

section {
    margin: 50px;
    max-width: 80%;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 5px 0px; 
}

.botaoAdicionar {
    padding: 10px 15px;
    border-radius: 10px;
}

.tituloTabela {
    font-family: sans-serif;
    font-size: 3rem;
}

table, tr, th, td {
    border-collapse: collapse;
    border: solid 1px black;
    padding: 10px;
    text-align: center;
}

.botaoAtualizar, .botaoExcluir {
    margin: 5px;
    padding: 7px;
    border-radius: 10px;
}

.botaoAtualizar {
    background-color: lightskyblue;
}

.botaoExcluir {
    background-color: red;
}

.modais {
    width: 350px;
    border-radius: 30px;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.modal-inputs > input{
    padding: 7px;
    border-radius: 8px;
}

.botaoAdicionarModal, .botaoAtualizarModal {
    background-color: gold;
    padding: 10px;
    margin: 10px 70px 0px 70px;
    border-radius: 15px;
}